
<div   class=" container shadoweddiv col-6">
  <form   #loginForm="ngForm"   (ngSubmit)="login()">

      <label>User Name </label>
      <input class="form-control mr-sm-2" name="username" type="text"
      placeholder="Username" required [(ngModel)]="model.username" >
      <br>
     <label>Password</label>
      <input class="form-control mr-sm-2" name="passord" type="password"
      placeholder="Password" required  [(ngModel)]="model.password" >
      <hr>
      <button [disabled]="!loginForm.valid"
              class="btn btn-success my-2 my-sm-0"
              type="submit">Login</button>

    </form>
  </div>

